<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Book Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()">Logout</a>
        </li>
        <!-- <li *ngIf="!isUserAuthenticated()" class="nav-item active">
          <a class="nav-link" routerLink="/book">Books</a>
        </li> -->
      </ul>
    </div>
  </nav>
  <form class="form-horizontal" [formGroup]="bookForm">
      <h1 style="text-align: center;">Welcome</h1>
      <div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Book Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="txtBookName" formControlName="bookName"
            placeholder="Name of Book">
        </div>
      </div>
      <br />
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Book Description :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="txtBookDescription" formControlName="bookDescription"
            placeholder="Book Description">
        </div>
      </div>
      <br />
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Book Cost:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="txtBookCost" formControlName="bookCost" placeholder="Cost of Book">
        </div>
      </div>
      <br />
       <div class="form-group">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <button type="submit" class="btn btn-primary" (click)="PostBook(bookForm.value)">Submit</button>
            </div>
            <div class="col-sm">
              <button type="submit" class="btn btn-primary" (click)="UpdateBook(bookForm.value)">Update</button>
            </div>
            <div class="col-sm">
              <button type="submit" class="btn btn-primary" (click)="Clear(bookForm.value)">Clear</button>
            </div>
          </div>
        </div>
      <br />
      </div>
      <div>
        <div class="alert alert-success" style="text-align: center;"><b>Book List</b></div>
        <div class="table-responsive" style="text-align: center;">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Book Name</th>
              <th scope="col">Description</th>
              <th scope="col">Author</th>
              <th scope="col">Category</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of BookList | async; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{book.BookName}}</td>
              <td>{{book.Description}}</td>
              <td>{{book.Author}}</td>
              <td>{{book.Category}}</td>
              <td>{{book.Price}}</td>
              <td><button type="button" class="btn1" matTooltip="Click Edit Button" (click)='BookDetailsToEdit(book.Id)'>Edit</button>
                |
                <button type="button" class="btn1" matTooltip="Click Delete Button" (click)="DeleteBook(book.Id)">Delete</button>
              </td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
      </div>
    </form>
